.country-card {
	width: 100%;
	height: 360px;
	max-width: 100%;
	min-height: 360px;
	max-height: 360px;
	//margin: $spacer--largest 0;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	@include themed() {
		box-shadow: t($shadow);
	}

	@media (min-width: 768px) {
		//margin: $spacer--large * 2 $spacer--large * 2;
	}

	img {
		width: 100%;
		height: 180px;
		object-fit: cover;
		border-top-left-radius: $border-radius-card;
		border-top-right-radius: $border-radius-card;
	}

	&-body {
		padding: $spacer--large;
		height: 130px;
		min-height: 130px;
		max-height: 130px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-bottom-left-radius: $border-radius-card;
		border-bottom-right-radius: $border-radius-card;
		@include themed() {
			background: t($card-bg);
		}
		&-row {
			margin-bottom: $spacer--small;
			&-title {
				font-weight: bold;
				margin-right: $spacer--extrasmall;
			}
		}
	}

	&-name {
		font-size: $font-size--medium;
		font-weight: bold;
		margin-bottom: $spacer--default;
	}
}
