//shortcuts
$bg: 'bg';
$text: 'text';
$card-bg: 'card-bg';
$shadow: 'shadow';

//themes
$themes: (
	default: (
		bg: $very-light-gray,
		text: $very-dark-blue2,
		card-bg: $white,
		shadow: $shadow-white
	),
	dark: (
		bg: $very-dark-blue,
		text: $white,
		card-bg: $dark-blue,
		shadow: $shadow-dark
	)
);

@mixin themed() {
	@each $theme, $map in $themes {
		.theme--#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), '#{$key}');
				$theme-map: map-merge(
					$theme-map,
					(
						$key: $value
					)
				) !global;
			}
			@content;
			$theme-map: null !global;
		}
	}
}

@function t($key) {
	@return map-get($theme-map, $key);
}
