//vars
$font-family: 'Nunito Sans', sans-serif;

//colors
$dark-blue: hsl(209, 23%, 22%); //Dark Mode Elements
$very-dark-blue: hsl(207, 26%, 17%); //Dark Mode Background
$very-dark-blue2: hsl(200, 15%, 8%); //Light Mode Text
$dark-gray: hsl(0, 0%, 52%); //Light Mode Input
$very-light-gray: hsl(0, 0%, 98%); //Light Mode Background
$white: hsl(0, 0%, 100%); //Dark Mode Text & Light Mode Elements

//shadows
$shadow-dark: 0px 0px 5px 1px #222;
$shadow-white: 0px 0px 5px 1px #eee;

//layout
$header-height: 50px;
$border-radius-card: 4px;
$search-input-padding: 5px;

//spacers
$spacer--largest: 35px;
$spacer--larger: 30px;
$spacer--large: 25px;
$spacer--medium: 20px;
$spacer--default: 15px;
$spacer--small: 10px;
$spacer--extrasmall: 5px;

//text
$font-size--extra-large: 24px;
$font-size--large: 20px;
$font-size--medium: 18px;
$font-size--base: 16px;
$font-size--secondary: 14px;
$font-size--tertiary: 12px;
